  <!-- Main component for a primary marketing message or call to action -->

  <!-- <div class="alert alert-danger" role="alert">
    <h3>Thanks for a great semester!</h3>
    <p> We'll be closed for the remainder of the Spring 2015 semester.  Please keep an eye out for volunteer forms that will be coming out shortly! Thanks!</p>
  </div> -->

  <div class="jumbotron">
    <h1 class="main-title">Dress for Success</h1>
    <h4 class="sub-title">Let Campus Closet dress you to reach your goals</h4>
    <p>Campus Closet was started at Georgia Tech in the Spring semester of 2014 for those students who are prospective hires without proper business attire.  Our goal is to lend appropriate clothing to those who intend to participate in job interviews or other career advancement activities. </p>
  </div>
  <div class="row sub-sections">
    <div class="col-md-8 col-sm-8" style="padding-left: 0px">
      <div class="process">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h2>How it Works</h2>
            <div class="content">
              <ol>
                <li>Create an account.</li>
                <li>Reserve clothing or visit the Closet</li>
                <li>Pick-up your clothing</li>
                <li>Rock that business attire!</li>
                <li>Dry-clean the clothing--discount provided!</li>
                <li>Return clothing within 2 weeks</li>
                <li>Repeat!</li>
              </ol>
            </div>
          </div>
          <div class="col-md-6 col-sm-6"> 
<%= image_tag("logoNoBg.png", style: "max-width: 100%") %> 
            <h3 style="text-align: center; margin: 0 0 10px 0;">by</h3>
            <%= image_tag("ccdd.png", style: "max-width: 100%") %> </div>
        </div>
      </div>
    </div>
    <div class="info col-md-4 col-sm-4">
      <h2>Hours & Location</h2>
      <div class="content">
        <p>Walk-in Hours<br />
          Borrow/Fitting/Returns</p>
        <p> Monday 2 PM - 4:30 PM<br />
          Tuesday 12 PM - 4:30 PM<br />
          Wednesday 2 PM - 4:30 PM <br />
          Thursday 12 PM - 4:30 PM<br />
          Friday 12 PM - 3 PM</p>
        <p> Student Success Center<br />
          Basement Level<br />
          C2D2 </p>
      </div>
    </div>
  </div>
  