<% provide(:title, 'Sizing') %>
  
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1 class="main-title">Sizing</h1>
    <h4 class="sub-title">Let Campus Closet dress you to reach your goals</h4>
    <div class="row"> 
       <div class="col-md-12">
       <%= image_tag("mensizing.png", style: "width: 100%") %> 
       <p class="center"><a href="http://www.youtube.com/watch?v=b4l4khCUnIM">Watch Men's Video</a></p>
       </div>
    </div>
    <hr>
    <div class="row"> 
       <div class="col-md-12">
       <%= image_tag("womensizing.png", style: "width: 100%") %> 
       <p class="center"><a href="http://www.youtube.com/watch?v=wGdLCrpPhy8&list=PLAnKaOZ-XbMRheMWQ9Q3hzQWrBATaKsMa">Watch Women's Video</a></p> 
       </div>
    </div>
  </div>