$cust-gold: rgb(213, 155, 0);
$cust-blue: rgb(5, 25, 37);
$faded-gold: #f1e7c2;

/* 
rgb(213, 155, 0) Gold
rgb(5, 25, 37) Blue
	
*/

body {
  padding-bottom: 20px;
  background: url(/assets/techtoweropt.png) no-repeat center center fixed; 
  background-size: cover;
}

.center {
	text-align: center;
}

.navbar {
  margin-bottom: 20px;
}


 .nav .dropdown-menu li a:focus,
.nav .dropdown-menu li a:hover{
	background-color: inherit !important;
	color: #eee !important;
}

.nav .dropdown-menu,
.navbar {
	background-color: rgba(5, 25, 37, 0.9);
	border-color: rgba(5, 25, 37, 0.2);
}



.navbar .navbar-brand {
	float: left;
}

.navbar .navbar-brand img{
	margin-top: -40px;
}

.navbar .nav li { 
	vertical-align: middle;
}
.navbar .nav li a,
.navbar .nav .open .dropdown-menu a,
.navbar .nav li a:visited{
	font-family: 'Open Sans', sans-serif;
	color: #eee;	
	font-size: 16px;
}

.navbar .nav li .account-link,
 .account-link {
	color: $cust-gold !important;
	background-color: inherit !important;
}

.navbar .nav .active a, 
.navbar .nav .active a:hover
{
	background-color: $cust-gold;
	color: white;
}

.navbar .dropdown-menu li a:hover,
.navbar .nav li a:hover {
	color: white;
	text-decoration: underline;
}

.jumbotron {
	margin-top: 40px;
	padding: 20px;
}

.main-title {
	margin-top: 0px;
	margin-bottom: 5px;
	color: $cust-blue;
}

.sub-title {
	margin-top: 0px;	
	margin-bottom: 15px;
	
	color: $cust-gold;
}
.sub-sections {
	padding-left: 15px;
	padding-right: 15px;	
}

.process,
.info {
	border-radius: 6px;
	background-color: rgba(213, 155, 0, .9);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 10px;
	margin-top: 15px;
}

.process h2,
.info h2 {
	text-align: center;
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
	color: $cust-blue;
}

.process .content,
.info .content {
  padding: 5px;
  background-color: rgb(241, 231, 194);
  border-radius: 2px;
}

.process ol { 
  padding-left: 30px;
}

.process {
  
}
.info {
	text-align: center;
}

.footer {
  margin-top: 20px;
  padding: 10px;
  width: 100%; 
  border-radius: 6px;
  background-color: rgba(5, 25, 37, 0.9);
  border-color: rgba(5, 25, 37, 0.2);
}

.contact p {
	font-size: 16px;	
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors .has-error .form-control { 
    color: danger;
}

.navbar>.container-fluid .navbar-brand, 
.navbar>.container-fluid .navbar-brand:hover,
.clothing-search .navbar-brand {
	color: #eee;
}

.clothing-search .btn-default {
	width: 150px;
	text-align: center;
	margin: 1px 10px 1px 0;
}

.clothing-search .btn-primary {
	width: 150px;
}

.clothing-search .dropdown-menu>li>a:hover {
	color: black;
}

.table-striped > tbody > tr:nth-child(2n+1) > td {
   background-color: $faded-gold;
}

.bold {
	font-weight: bold;
}

.account-info ul {
	margin-top: 20px;
	padding-left: 20px;
	list-style: none;
}

.jumbotron .account-info p {
	padding: 20px;
	margin-bottom: 0px;
}

.admin ul,
.clothing-view-list {
	list-style: none;
	padding-left: 20px;
}

table.barby-barcode { border-spacing: 0; }
tr.barby-row {}
td.barby-cell { width: 3px; height: 100px; }
td.barby-cell.on { background: #000; }