<footer class="footer">
    <div class="container-fluid">
      <div class="row" style="padding-top: 7px">
        <div class="col-md-3 col-sm-3">
          <p class="text-muted">&copy; 2013 - 2015 Campus Closet</p>
        </div>
        <div class="col-md-6 col-sm-6" style="text-align: center">
          <p class="text-muted">Design & Integration by <a href="http://www.philipbale.com">Philip Bale</a> GT CS '17</p>
        </div>
        <div class="col-md-3 col-sm-3" style="text-align: right">
          <p class="text-muted"><a href="#">Terms</a> |
          
          <% if logged_in? %> 
          <%= link_to "Log Out", logout_path, method: "delete" %>
            <% if current_user.admin? %>
              | <%= link_to " Admin Panel", admin_path %>
            <% end %>
            </p>
        <% else %>
          <%= link_to "Log In", login_path %></p>
        <% end %>  
          
        </div>
      </div>
    </div>
  </footer>